#homePanel.panel
	div
		#tips
			span 팁 : 
			strong 드래그 
			span 로 
			strong  자산을 
			span  이동 시켜보세요

		#ownerWrap
			div#toolbarWrap
				.bottomAlign
					input(type="text" placeholder="소유주 검색" style="margin-left: 0; border-radius:2px;")#searchUsers.longer
					span.hint(style="margin-left: 10px; font-size: 16px;") 
						span#foundUsers 0
						span /
						span#totalUsers 0

				button(disabled="disabled")#showStartupPanel
					span.fa.fa-gears
					span &nbsp; 시작 도움말
					
				span &nbsp;&nbsp;

				button(disabled="disabled")#showSettingsPanel
					span.fa.fa-gear
					span &nbsp; 설정
				
				#trashbin.sortable.innerMarbleWrap
					div.fa.fa-trash-o.fa-3x(style="vertical-align: middle;")
					span &nbsp;
					div#trashText 드래그해서 자산을 삭제하세요
			


		#allUserPanelsWrap
			#appStartingText Connecting...
