#auditWrap
	#auditClose
		span.fa.fa-close
	#auditContentWrap
		.leftTxWrap
			#auditLegend 
			#marbleIdWrap Check transaction details
				span 자산
				div#marbleId -
			span.ball.largeMarble.bluebg.auditMarble

		.txHistoryWrap
			.auditHint Click here to view the transaction details